# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [ ]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

### Step 3. Assign it to a variable called iris

In [ ]:
iris = pd.read_csv(url, header=None)

### Step 4. Create columns for the dataset

In [ ]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

### Step 5.  Is there any missing value in the dataframe?

In [ ]:
print("Missing values:\n", iris.isnull().sum())

Missing values:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [ ]:
iris.loc[10:29, 'petal_length'] = pd.NA

### Step 7. Good, now lets substitute the NaN values to 1.0

In [ ]:
iris['petal_length'] = iris['petal_length'].fillna(1.0)

### Step 8. Now let's delete the column class

In [ ]:
iris.drop(columns='class', inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [ ]:
iris.iloc[0:3] = pd.NA

### Step 10.  Delete the rows that have NaN

In [ ]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [ ]:
iris.reset_index(drop=True, inplace=True)

print("Final cleaned DataFrame:\n", iris.head())

Final cleaned DataFrame:
    sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.1           1.5          0.2
1           5.0          3.6           1.4          0.2
2           5.4          3.9           1.7          0.4
3           4.6          3.4           1.4          0.3
4           5.0          3.4           1.5          0.2

### BONUS: Create your own question and answer it.

In [ ]:
avg_sepal_length = iris['sepal_length'].mean()
print("\nBONUS - Average Sepal Length after cleaning:", avg_sepal_length)

BONUS - Average Sepal Length after cleaning: 5.862585034013605